@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

:root {
    --font-family: 'Poppins', sans-serif;
    --cor-de-fundo: #00425A ;
    --cor-primaria: #BFDB38 ;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-primaria);
    font-family: var(--font-family);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
    padding-top: 20px;
}

.mensagem {
    font-size: 2em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--cor-primaria);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar {
    font-size: 1.2em;
    padding: 8px 15px;
    border: 0;
    background-color: var(--cor-primaria);
    border-radius: 5px;
    margin-top: 20px;
}
